:host {
  margin: auto;
  width: calc(100% - 4rem);
  max-width: 30em;
  display: block;
}

.tabs {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.tab {
  margin-right: 1px;
  padding: .5rem 1rem;
  display: block;
  flex-grow: 1;
  font-size: 1em;
  color: #263238;
  text-align: center;
  border-radius: .25rem .25rem 0 0;
  background-color: #B0BEC5;
  transition: background-color .2s;
  cursor: pointer;

  &:focus {
    outline: .25rem solid #64B5F6;
    outline-offset: -.25rem;
  }

  &:last-child {
    margin-right: 0;
  }

  &[aria-selected="true"] {
    background-color: #FFF;
  }
}

.panels {
  display: grid;
  grid-template:
    "panel" auto /
    100%;
  color: #37474F;
  border-radius: 0 0 .25rem .25rem;
  background-color: #FFF;
}

.panel {
  padding: 2rem;
  grid-area: panel;
  transition: opacity .2s;

  &[aria-hidden="true"] {
    opacity: 0;
    pointer-events: none;
  }
}

.panel__title {
  margin: 0;
  font-size: 1.25em;
  color: #263238;
}
